<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>
    <link rel="stylesheet" href="styles/main.css">
    

  </head>
<body>
  
        <div class="container" >
          <img src= "https://is5-ssl.mzstatic.com/image/thumb/Purple126/v4/cb/1b/db/cb1bdb28-01c0-c734-62c3-815304e1bd99/AppIcon-0-0-1x_U007emarketing-0-0-0-10-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/512x512bb.jpg" width="70px" height="70px" style="border-radius: 50px; padding-left: 10px; padding-top: 10px;">
                <span class="right-links" style="display: inline-block">
                  <a href="/Home" style="padding-right: 10px;" >Home </a>
                </span>
            </header>
        </div>
          <hr>
    